body{
    background-color: aliceblue;
}


/* Aqui van las imagenes de seguros */
#div1{
    background-color: azure;
    width: 40%;
    height: 20%;
    margin-left: 30%;
}
/* Aqui van las imagenes de seguros */

.margen{
    text-align: center;
}